
.myCard {
    display: flex;
    align-items: stretch;
}
.myCard{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    justify-content: space-evenly;
}
.myCard h2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 3rem;
    flex-wrap: wrap;
    background-color: rgba(196, 204, 229, 0.947);
}
div h2{
    font-size: large;
    color:rgb(255, 255, 255);
    padding:1rem 2rem 1rem 2rem;
}

.Shopbutton {
    align-items: center;
    font-weight:200;

}
